.aboutMe {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--primary-colour);
    color: var(--text-colour);
}

.aboutMe-wrapper {
    display: flex;
    gap: 5%;
    width: 80vw;
    align-items: center;
    justify-content: center;
}

.aboutMeTitle {
    font-size: 5em;
    margin-left: 11vw;
    font-family: LeagueSpartan;
    margin-bottom: 0;
}

.left-content {
    font-size: 2em;
    width: 40vw;
}

.lang-wrapper p {
    font-size: 2em;
    width: 40vw;
}

.lang-wrapper h1 {
    font-size: 5em;
    margin-bottom: 0;
    font-family: LeagueSpartan;
}

.aboutMe-wrapper div {
    width: 50%;
}

@media only screen and (max-width: 600px) {
    .aboutMe {
        height: 100vh;
        padding: 2rem;
    }

    .aboutMeTitle {
        font-size: 3em;
        margin-left: 5vw;
    }

    .aboutMe-wrapper {
        flex-direction: column;
        gap: 2rem;
        width: 100%;
    }

    .left-flex {
        height: auto;
        border-bottom: 1px solid #ccc;
        padding-bottom: 11%;
    }

    .left-flex h1 {
        font-size: 3em;
        text-align: center;
        margin: 0;
    }

    .left-content {
        font-size: 1.5em;
        width: 100%;
        text-align: center;
    }

    .lang-wrapper p {
        font-size: 1.5em;
        width: 100%;
        text-align: center;
    }

    .lang-wrapper h1 {
        font-size: 3em;
        text-align: center;
    }

    .aboutMe-wrapper div {
        width: 100%;
    }
}
