.box {
    background: #ffffff0a;
    padding: 5% 5% 5% 5%;
    border-radius: 3%;
    text-align: left;
    width: 200px; /* Set a fixed width */
    height: 200px; /* Set a fixed height */
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.box h1 {
    margin: auto 0 auto 0;   
    font-weight: bold;
    font-size: 16px;
}

.box img {
    margin: auto 0 auto 0; 
    height:35px;
    width: auto;  
    
}

