#languageScroll{
    height: 100vh;
    background-color: var(--main-colour);
    color: var(--text-colour);

    display: flex;
    align-items: center;
    justify-content: center;
}

.mainlang-wrapper {
    width: 70vw;
}

.langwrap{
    display: flex;
}

.langflavour{
    margin-bottom: 10vh;
    margin-top: 3vh;
}

.lang-right{
    width: 27.3vw;
    height: 80%;
    text-align: center;
}

.lang-right div{
    margin-top: 2vh;
}

.lang-block{
    display: flex;
    justify-content: center;
    gap: 1vw;
    width: 100%;
}

.lang-title {
    text-align: center;
}

.lang-title h1{
    font-size: 6vh;
    margin: 0;
}

