#languageScroll{
    height: 100vh;
    background-color: var(--main-colour);
    color: var(--text-colour);
}

.mainlang-wrapper{
    height: 100%;
    height: inherit;
    gap: 3%;
    align-items: center;
    justify-content: center;
}

.lang-left p{
    font-size: 20px;
}

.lang-right{
    width: 50%;
    height: 80%;
    /* background-color: #1e2f48; */
}

.lang-right div{
    margin-top: 2vh;
}

.lang-block{
    display: flex;
    gap: 5vw;
    width: 100%;
}

.lang-left-title{
    font-size: 6vh;
    margin: 0;
}

